@import url('https://fonts.googleapis.com/css?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Proza+Libre:400,700&display=swap');

body {
    background-color: #ffffff;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b1529;
    height: 60px
}

.nav > a {
    color: white;
    text-decoration: none;
    font-family: 'Passion One', cursive;
    font-size: 40px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b1529;
    height: 40px
}

.footer > h3 {
    color: white;
}

.pageTitle {
    font-family: 'Proza Libre', sans-serif;
    text-align: center;
}

.leagues {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0
}

.leagues > a {
    text-align: center;
    margin-bottom: 20px;
}


.leagues > a > img {
    width: 50%;
}

.teamsContainer {
    display: flex;
    flex-wrap: wrap;
}

.teamsContainer > a {
    text-align: center;
    margin: 20px 0;
    text-decoration: none;
}

.teamsContainer > a > img {
    width: 40%;
}

.teamsContainer > a > h4 {
    color: black;
    font-family: 'Proza Libre', sans-serif;
    font-size: 0.9em;
}

.teamPage > img {
    width: 100%
}
.teamPage > a > svg {
    margin-top:15px;
}
.teamPage > .socialMedia {
    display: flex;
    text-align: center;
    padding: 0;
    margin: 40px 0;
    list-style: none
}

.teamPage > .socialMedia > li > a >img {
    width: 30%;
}

.resultsContainer {
    display: flex;
    padding: 8px 0px;
    border-bottom: 1px solid #cccccc;
    margin: 0 5px;
}
.resultsContainer:first-of-type {
    border-top: 1px solid #cccccc
}
.gameOpponentFlexHolder {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.gameInfo {
    flex:0.5;
    border-right: 1px solid #cccccc
}
.gameInfo > p {
    font-family: 'Proza Libre', sans-serif;
    font-weight: 700;
}
.homeLabel {
    color: white;
    background-color: #0f3369;
    padding: 0 8px;
    border-radius: 24px;
    font-family: 'Proza Libre', sans-serif;
}
.awayLabel {
    color: black;
    background-color: #f8b929;
    padding: 0 8px;
    border-radius: 24px;
    font-family: 'Proza Libre', sans-serif;
}
.gameOpponent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.gameOpponent > img {
    display: block;
    width: 25%
}
.gameScores > p {
    font-size: 0.9em;
    text-align: center;
}
.teamName {
    font-family: 'Proza Libre', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.sectionTitle {
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.5em;
}

@media (min-width: 768px) {
    .leagues {
        justify-content: center;
    }

    .leagues > a {
        width: 40%;
    }

    .leagues > a > img {
        width: 70%
    }
    .teamsContainer {
        justify-content: center;
    }

    .teamsContainer > a {
        width: 30%
    }
    .teamsContainer > a > img {
        width: 50%
    }
    
    .gameOpponent > img {
        width: 20%
    }
    .gameOpponentFlexHolder {
        flex-direction: row;
    } 
    .gameInfo {
        flex: 0.3;
    }
    .gameOpponent {
        border-right: 1px solid #cccccc;
        flex: 1;
    }
    .gameScores {
        flex: 1;
        margin: auto;
    }
    .teamPage > .socialMedia > li > a >img {
        width: 25%;
    }
}

@media (min-width: 1024px) {    
    .leagues > a {
        width: 30%;
        margin: 30px;
    }
    .leagues > a:hover {
        transform: scale(1.1);
    }
    .leagues > a > img {
        width: 70%;
    }
    .teamsContainer > a {
        width: 20%
    }
    .teamsContainer > a:hover {
        transform: scale(1.1);
    }
    .teamsContainer > a > img {
        width: 40%
    }
    .gameInfo {
        flex: 0.2;
    }
    .gameOpponent {
        flex: 0.7;
    }
    .gameScores {
        margin: auto;
    }
    .gameScores > p {
        text-align: left;
        margin-left: 20px;
    }
    .teamPage > .socialMedia > li > a >img {
        width: 10%;
    }
}