@import url('https://fonts.googleapis.com/css?family=Passion+One&display=swap');

body {
    background-color: #e2e2e2;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b1529;
    height: 60px
}

.nav > a {
    color: white;
    text-decoration: none;
    font-family: 'Passion One', cursive;
    font-size: 40px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b1529;
    height: 40px
}

.footer > h3 {
    color: white;
}

.leagues {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0
}

.leagues > a {
    text-align: center;
    margin-bottom: 20px;
}


.leagues > a > img {
    width: 50%;
}

.teamsContainer {
    display: flex;
    flex-wrap: wrap;
}

.teamsContainer > a {
    text-align: center;
    margin: 20px 0;
    text-decoration: none;
}

.teamsContainer > a > img {
    width: 40%;
}

.teamsContainer > a > h4 {
    color: black
}

.teamPage > img {
    width: 100%
}
.teamPage > .socialMedia {
    display: flex;
    text-align: center;
    padding: 0;
    margin: 40px 0;
    list-style: none
}

.teamPage > .socialMedia > li > a >img {
    width: 30%;
}

.resultsContainer {
    display: flex;
    padding: 8px 0px;
    border-bottom: 1px solid black;
    margin: 0 5px;
}
.resultsContainer:first-of-type {
    border-top: 1px solid black
}
.gameOpponentFlexHolder {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.gameInfo {
    flex:0.5;
    border-right: 1px solid black
}
.homeLabel {
    color: white;
    background-color: #0f3369;
    padding: 0 8px;
    border-radius: 24px;
}
.awayLabel {
    color: black;
    background-color: #a71931;
    padding: 0 8px;
    border-radius: 24px;
}
.gameOpponent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.gameOpponent > img {
    display: block;
    width: 30%
}
.gameScores > p {
    font-size: 0.9em;
    text-align: center;
}


@media (min-width: 768px) {
    .leagues {
        justify-content: center;
    }

    .leagues > a {
        width: 40%;
    }

    .leagues > a > img {
        width: 80%
    }
    .teamsContainer {
        justify-content: center;
    }

    .teamsContainer > a {
        width: 30%
    }
    .teamsContainer > a > img {
        width: 50%
    }
}

@media (min-width: 1024px) {    
    .leagues > a {
        width: 30%;
        margin: 30px;
    }
    .leagues > a:hover {
        transform: scale(1.1);
    }
    .leagues > a > img {
        width: 100%;
    }
    .teamsContainer > a {
        width: 20%
    }
    .teamsContainer > a:hover {
        transform: scale(1.1);
    }
    .teamsContainer > a > img {
        width: 40%
    }
}